.recommended{
    flex-basis: 30%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
     border-radius: 5px;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}

.vid-info .channelName {
    color: #1f1d1d;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;

}
.vid-info .views{
    font-size: 13px;
    color: #5a5a5a;
}

    
@media (max-width:900px){
    .recommended{
        flex-basis: 100%;
    }
}